################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.testlog
*.manifest
*.suo
/trello/bin/Debug/netcoreapp3.1
/trello/obj/Debug/netcoreapp3.1
/trello/obj
